In [2]:
import pandas as pd

df_1 = pd.read_csv(r"C:\Users\jfarh\OneDrive\Desktop\Money_Supply_M1_M2_M3_Morocco.csv")
df_2 = pd.read_excel(r"C:\Users\jfarh\OneDrive\Desktop\Inflation_et_inflation_sous_jacente.xlsx")

In [3]:
df_1['date'] = pd.to_datetime(df_1['date'])
df_1['date'] = df_1['date'].dt.strftime('%b/%Y')

df_2['date'] = pd.to_datetime(df_2['date'])
df_2['date'] = df_2['date'].dt.strftime('%b/%Y')

In [4]:
df_1c= df_1.tail(60)

In [5]:
merged_df = pd.merge(df_1c, df_2, on='date', how='inner')
merged_df.rename({'date':'Date'},inplace=True)

In [6]:
merged_df['M1_diff'] = merged_df['M1'].diff()
merged_df['M1_change'] = merged_df['M1'].pct_change() * 100

merged_df['M2_diff'] = merged_df['M2'].diff()
merged_df['M2_change'] = merged_df['M2'].pct_change() * 100

merged_df['M3_diff'] = merged_df['M3'].diff()
merged_df['M3_change'] = merged_df['M3'].pct_change() * 100

In [12]:
merged_df['High_Inflation'] = merged_df['Inflation'].apply(lambda x: 'Yes' if x > 5 else 'No')
merged_df.head()

,date,M1,M2,M3,Inflation,Inflation sous-jacente,M1_diff,M1_change,M2_diff,M2_change,M3_diff,M3_change,High_Inflation
0,Jan/2018,797187.770140,951872.284609,1.250043e+06,2,1.2,NaN,NaN,NaN,NaN,NaN,NaN,No
1,Feb/2018,799773.121970,954806.888724,1.252850e+06,1.4,0.9,2585.351829,0.324309,2934.604115,0.308298,2807.361673,0.224581,No
2,Mar/2018,811368.949633,966998.791632,1.266414e+06,1.7,0.9,11595.827663,1.449890,12191.902908,1.276897,13563.841649,1.082639,No
3,Apr/2018,807748.832417,963385.137918,1.258527e+06,2.2,1.1,-3620.117216,-0.446174,-3613.653714,-0.373698,-7887.170018,-0.622796,No
4,May/2018,810441.714045,966476.236112,1.267712e+06,2.4,1.2,2692.881628,0.333381,3091.098194,0.320858,9185.615700,0.729871,No